<!DOCTYPE html>
<html lang="fr-BE">
<head>
	<meta charset="UTF-8">
	<title>Le calculateur</title>
	 <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/0.9.4/angular-material.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=RobotoDraft:300,400,500,700,400italic">
    <meta name="viewport" content="initial-scale=1" />
	<link rel="stylesheet" href="style.css">
</head>
<body ng-app="app" ng-controller="AppController as AppCtrl" layout="column" layout-padding>
	
	<section>
		<md-content>

			<p>
				En septembre....
			</p>

			<div> 
				Mon code postal est
				<input type="text" ng-model="AppCtrl.user.code" post-code>  
			</div>

			<div ng-show="AppCtrl.showResult">
				A <span ng-bind="AppCtrl.user.city"> </span> 
				<span ng-bind="AppCtrl.user.provider"> </span>
			</div>	

		</md-content>
	</section>


	<section layout="row" layout-align="space-around">
		
		<!-- 1st bloc -->
		<div flex="33">
			<div layout="column" layout-align="center" layout-margin>
				<div layout-margin layout-padding layout="row" layout-align="center">
					<h3>Variation des coûts de distribution </h3>
				</div>
				<div layout-margin layout-padding layout="row" layout-align="center">
				 <div flex="40" layout="row" layout-align="center" class="md-primary"> 422 </div> 
				</div>
			</div>
			<div layout="column" layout-margin layout-padding>
				<md-toolbar class="md-primary">
					<div class="md-toolbar-tools">
						<h2>Electricité</h2>
					</div>
				</md-toolbar>
				<md-tabs class="md-primary md-hue-1">
					<md-tab label="mono-horaire">
						<md-content>
							<div layout="row" layout-align="start center">
								<div> 
									<md-input-container>
										<label> Consomation </label>
										<input type="text" ng-model="AppCtrl.user.consoMono"  flex> 
									</md-input-container>
								</div>
								<md-chips> 
									<md-chip>Kwh</md-chip> 
								</md-chips>
							</div>	
						</md-content>
					</md-tab>

					<md-tab label="bi-horaire">
						<md-content>
							<div layout="row" layout-align="start center">
								<div>
									<md-input-container>
										<label> Consomation jour</label>
										<input type="text" ng-model="AppCtrl.user.consoJour"> 
									</md-input-container>
								</div>
								<md-chips> 
									<md-chip>Kwh</md-chip> 
								</md-chips>
							</div>	
							<div layout="row" layout-align="start center">
								<div>
									<md-input-container>
										<label> Consomation nuit </label>
										<input type="text" ng-model="AppCtrl.user.consoNuit"> 
									</md-input-container>
								</div>
								<md-chips> 
									<md-chip>Kwh</md-chip> 
								</md-chips>
							</div>	
						</md-content>
					</md-tab>
				</md-tabs>
				
			</div>

			

			<div layout="column" layout-margin>
				<md-toolbar>
					<div class="md-toolbar-tools">
						<h2> Gaz </h2>
					</div>
				</md-toolbar>
				
				<div layout="row" layout-align="start center">
					<div>
						<md-input-container>
							<label> Consomation nuit </label>
							<input type="text" ng-model="AppCtrl.user.consoGaz"> 
						</md-input-container>
					</div>
					<md-chips> 
						<md-chip>Kwh</md-chip> 
					</md-chips>
				</div>
			</div>

		</div>
		
		<!-- 2nd bloc -->


		<div layout="column" flex="33">
			<div layout="column" layout-margin>
				<div layout="row" layout-align="center" layout-padding layout-margin>
					<h3> Variation prix énergie </h3>
				</div>
				<div layout-margin layout="row" layout-align="center" layout-padding>
					<div flex="40" layout="row" layout-align="center" layout-padding layout-margin> 322 </div>
				</div>
			</div>

			<div layout="column" layout-align="space-between" flex>
				<div layout-margin flex="80">
					<md-toolbar class="md-primary">
						<div class="md-toolbar-tools">
							<h2>Electricité</h2>
						</div>
					</md-toolbar>
					<div layout-padding> 58euro/Kwh</div>
				</div>
				<div layout-margin flex="20">
					<md-toolbar class="md-primary">
						<div class="md-toolbar-tools">
							<h2>Gaz</h2>
						</div>
					</md-toolbar>
					<div layout-padding> 28 euro/Kwh</div>
				</div>
			</div>
		</div>


	</section>

	<!-- Angular Material Dependencies -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-animate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-aria.min.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/angular_material/0.9.4/angular-material.min.js"></script>

	<!-- AngularJS Custom-->
	<script src="app.js"> </script>
	<script src="ressource.js"> </script>

	
</body>
</html>